@font-face {
    font-family: SW;
    src: url(../fonts/Stardew_Valley.otf);
    src: url(../fonts/Stardew_Valley.ttf);
}
body {
    background: #1B1B1B;
    color: white;
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4,h5 {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: lighter;
}
.th {
    border-radius: 4px;
    border: 0;
    overflow: hidden;
    box-shadow: 9px 11px 14px 0 rgba(0,0,0,0.50);
    margin: 20px 0;
}
.th:hover {
    box-shadow: 9px 11px 14px 0 rgba(0,0,0,0.50);
    transform: scale(1.05);
}
.hero {
    background-image: url('../img/bg.jpg');
    background-position: top center;
    background-size: cover;
    padding: 100px 0;
    position: relative;
}
.hero .gradient {
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 4;
background-image: linear-gradient(-180deg, rgba(27,27,27,0.00) 0%, #1B1B1B 100%);
}
.hero h1, h5 {
    color: white;
    font-weight: normal;
}
.hero h1 {
    font-family: 'SW';
    font-size: 58px;
}
.hero .button {
    margin-top: 20px;
    background-color: transparent;
    background-image: url('../img/btn.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 40px;
    font-family: 'SW';
    font-size: 18px;
    color: #8E1F18;
    z-index: 9;
    position: relative;
    transition: all 0.4s ease;
}
.hero .button:hover {
    transform: scale(1.05);
    transition: all 0.4s ease;
}
.map-item .button{
    background: transparent;
    border: 1px solid white;
    border-radius: 50px;
    padding: 6px 20px;
    margin: 0 auto;
    opacity: 0.4;
    margin-bottom: 20px;
    color: white;
}
.map-item:hover .button{
    opacity: 1;
}
.map-item {
    text-align: center;
}

.header h4 small {
    font-family: Arial;
}

.lazy {
    min-width: 100%;
    min-height: 200px;
    border-radius: 4px 4px 0 0;
    background: url('/img/loader.gif');
    background-position: center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 39.9375em) {
    .th {
        margin: 20px;
    }
}


.credits {
    color: #999999;
    font-size: 12px;
}

.credits a {
    color: #CC9221;
}

.credits a:hover {
    color: #F9B521;
}
